<div ng-controller="detailController">
    <div ng-show='uiState=="loading"'>Cargando...</div>
    <div ng-show='uiState=="error"'>Ups! Ha habido un error</div>
    <div class="container" ng-show="uiState=='ideal'">
        <div class="row" ng-repeat="data in model">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="thumbnail">
                    <div class="row">
                        <div class="caption">
                            <div class="col-sm-8">
                                <h3 class="title">{{::data.calle}}, {{::data.codigoPostal}}, {{::data.ciudad}}</h3>
                                <span ng-if="data.compra">Precio: {{::data.precio}} euros</span>
                                <span ng-if="data.compra==false">Precio: {{::data.precio}} euros al mes</span>
                                <span>Número de habitaciones: {{::data.numeroHabitaciones}}</span>
                                <span>Metros: {{::data.metros}}</span>
                                <span>Amueblado: {{::data.amueblado}}</span>
                                <p></p>
                                <p>Descripción: {{::data.descripcion}}</p>
                                <p>Fotos:</p>
                                <div class='row'>
                                    <div class='col-md-2'></div>
                                    <div class='col-md-8'>
                                        <div ng-repeat="fts in data.fotos">
                                            <img src="{{::fts}}" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h3 class="title">Contacto:</h3>
                                        <p>Usuario: {{::contact.name}}</p>
                                        <p>Teléfono: {{::contact.phone}}</p>
                                        <p>Email: {{::contact.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
