<div ng-controller="myAnunciosController">
    <div ng-show='uiState=="loading"' class="alert alert-info" role="alert">Cargando...</div>
    <div ng-show='uiState=="noAuth"' class="alert alert-info" role="alert">No estás autenticado, autentícate!</div>
    <div ng-show='uiState=="error"' class="alert alert-danger" role="alert">Ups! Ha habido un error</div>
    <div ng-show='uiState=="blank"' class="alert alert-info" role="alert">No tienes anuncios añadidos :( ¡Añade el primero!</div>
    <div class="container" ng-show="uiState=='ideal'">
        <anuncio-item model="model" more-info="moreInfo(stuff)"></anuncio-item>
</div>
