<div ng-controller="myFavController">
    <div ng-show='uiState=="loading"'>Cargando...</div>
    <div ng-show='uiState=="error"'>Ups! Ha habido un error</div>
    <div ng-show='uiState=="blank"' class="alert alert-info" role="alert">No tienes anuncios favoritos :( ¡Añade el primero!</div>
    <div class="container" ng-show="uiState=='ideal'">
        <div class="row" ng-repeat="data in model">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="thumbnail">
                    <div class="row">
                        <div class="caption">
                            <div class="col-sm-4">
                                <img src="{{data.fotos[0]}}" class="img-responsive">
                            </div>
                            <div class="col-sm-8">
                                <h3 class="title">{{::data.calle}}, {{::data.codigoPostal}}, {{::data.ciudad}}</h3>
                                <span ng-if="data.compra">Precio: {{::data.precio}} euros</span>
                                <span ng-if="data.compra==false">Precio: {{::data.precio}} euros al mes</span>
                                <p>{{::data.descripcion}}</p>
                            </div>
                            <p class="text-right">
                                <button class="btn btn-success" ng-click="moreInfo(data)">Más información</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
